<%= form_with(model: tweet) do |form| %>
  <% if tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>
      <ul>
        <% tweet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-floating">
    <%= form.text_field :body, class:"form-control", placeholder: "What are you thinking?" %>
  </div>
  <div class="form-floating">
    <%= form.number_field :user_id, id: :tweet_user_id, class:"form-control", value: current_user.id, type: :hidden %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
