<% if user_signed_in? %>
  <div class="h-100 text-center text-white d-flex flex-column align-items-center">
    <h1 class="text-center mt-3">See what's happening!</h1>
    <% @tweets.each do |tweet| %>
      <div class="card border border-dark my-2">
        <div class="card-body">
          <p class=" card-title border-bottom border-success fw-bold text-capitalize" id="ownerTweet"><%=tweet.user.email.sub(/@.*/, '')%></p>
          <div class="card-text text-break p-2 my-2" >
            <%= tweet.body%>
          </div>
          <%= link_to 'Show', tweet, class:"card-link btn btn-sm btn-primary mb-1"%>
          <% if tweet.user == current_user %>
            <%= link_to 'Edit', edit_tweet_path(tweet), class:"card-link btn btn-sm btn-warning mb-1" %>
            <%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' }, class:"card-link btn mb-1 btn-sm btn-danger" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="h-100 text-center text-white d-flex flex-column justify-content-center align-items-center">
    <h1>Hey!, sign in to use your favorite social media!</h1>
  </div>
<% end %>
