<nav class="navbar flex-column navbar-expand-lg navbar-dark bg-dark col-2 h-100 fixed-left">
  <%= link_to 'My Social App', root_path , class:"navbar-brand mt-5" %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav flex-column">
      <li class="nav-item">
        <%= link_to 'About Us', about_path ,class:"nav-link active my-4 h5"%>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item dropdown dropright">
          <span class="nav-link text-white text-capitalize dropdown-toggle my-4 h5" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= (current_user.email).sub(/@.*/, '') %>
          </span>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <%= link_to 'Edit Profile', edit_user_registration_path ,class:"dropdown-item"%>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <%= link_to 'Sign Out', destroy_user_session_path, method: :delete ,class:" dropdown-item"%>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <%= link_to 'My Profile', index_path ,class:"nav-link active my-4 h5"%>
        </li>
        <li class="nav-item">
          <%= link_to '¡Write a Tweet!', new_tweet_path ,class:"nav-link active my-4 h5"%>
        </li>
      <% elsif %>
        <li class="nav-item">
          <%= link_to 'Sign Up',  new_user_registration_path ,class:"nav-link active my-4 h5"%>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign In', new_user_session_path ,class:"nav-link active my-4 h5"%>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
