<nav class="navbar flex-sm-column navbar-expand-sm navbar-dark bg-dark h-sm-100 fixed-left border-md-end border-md-dark rounded-md-end">
  <%= link_to 'My Social App', root_path , class:"navbar-brand mt-sm-5 ms-sm-2" %>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-sm-auto mb-sm-2 flex-sm-column">
      <% if user_signed_in? %>
        <li class="dropdown dropend">
          <button id="buttonNav" class="nav-link text-white btn btn-sm-lg decoration-none text-capitalize dropdown-toggle my-sm-4 h5-sm" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= (current_user.email).sub(/@.*/, '') %>
          </button>
          <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
            <li>
              <%= link_to 'Edit Profile', edit_user_registration_path ,class:"dropdown-item"%>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <%= link_to 'Sign Out', destroy_user_session_path, method: :delete ,class:" dropdown-item"%>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <%= link_to 'My Profile', index_path ,class:"nav-link active my-sm-4 h5-sm"%>
        </li>
        <li class="nav-item">
          <%= link_to '¡Write a Tweet!', new_tweet_path ,class:"nav-link active my-sm-4 h5-sm"%>
        </li>
      <% elsif %>
        <li class="nav-item">
          <%= link_to 'Sign Up',  new_user_registration_path ,class:"nav-link active my-sm-4 h5-sm"%>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign In', new_user_session_path ,class:"nav-link active my-sm-4 h5-sm"%>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
